$negro: #000000;
$grisOscuro: #3b3d41 ;
$grisMedio: #7e7e7e ;
$grisClaro: #c2c2c2 ;
$naranjaOscuro: #ff5000;
$naranja: #fe5d4b;
$rojo: #cf400d;
$rojoOscuro: #b43306;
$vinotinto: #a23007;
$casiBlanco: #f6f6f6;
$blanco: #ffffff;