.body {
    margin: 0;
    padding: 0
}

.header-cursos {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 92.9%;
    background: #FFFFFF;
}

.img-aprender {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 7.1%;
    bottom: 82.26%;
}

.body-cursos {
    position: absolute;
    left: 3.12%;
    right: 3.12%;
    top: 16.26%;
    bottom: 13.66%;
    background: #FFFFFF;
    border: 1px solid #4A4A4A;
}

.btn-cursos {
    position: absolute;
    left: 8.01%;
    right: 49.9%;
    top: 19.22%;
    bottom: 78.71%;
}

#cursos-all {
    position: absolute;
    left: 8.01%;
    right: 80.27%;
    top: 19.22%;
    bottom: 78.71%;
}

#UR {
    position: absolute;
    left: 20.7%;
    right: 75.29%;
    top: 19.22%;
    bottom: 78.71%;
}

#UX {
    position: absolute;
    left: 25.68%;
    right: 70.31%;
    top: 19.22%;
    bottom: 78.71%;
}

#UI {}

#front #desarrollo .dropdown {
    position: absolute;
    left: 72.66%;
    right: 7.91%;
    top: 19.22%;
    bottom: 78.71%;
}