#cards {
  margin-top: -20px; }
  #cards #ensenar-aprender {
    margin-bottom: 50px; }
  #cards #bodyCardPriv {
    height: 200px; }
  #cards .arrow {
    display: none; }
  #cards #titleCard {
    text-align: center; }
  #cards #textCard {
    text-align: justify; }
  #cards #ensenar-aprender:hover .arrow {
    display: block;
    text-align: center; }
  #cards a.arrow {
    color: #ffffff; }
