.footerPages {
  margin-top: 5%;
  background-color: #000000;
  color: #ffffff;
  padding-bottom: 60px;
  width: 100%;
  display: block; }
  .footerPages .h4Footer {
    color: #ff5000;
    padding-top: 30px;
    font-size: 2em; }
  .footerPages .copyFooter {
    color: #7e7e7e;
    text-transform: uppercase;
    padding-top: 10px; }
  .footerPages .sinap {
    text-align: justify;
    margin-top: 20px; }
  .footerPages .socialNetwork {
    display: flex;
    font-size: 20px;
    padding-top: 20%; }
  .footerPages .iconFooterPages {
    font-size: 200%;
    margin-left: 5%;
    color: #ff5000; }
  .footerPages .iconFooterPages:hover {
    color: #ffffff; }
  .footerPages #iconsFoot {
    padding-top: 5%; }
