.footerPages {
  margin-top: 5%;
  background-color: #000000;
  color: #ffffff;
  padding-bottom: 60px;
  width: 100%;
  display: block; }
  .footerPages .h4Footer {
    color: #ff5000;
    padding-top: 30px; }
  .footerPages .copyFooter {
    color: #7e7e7e;
    text-transform: uppercase; }
  .footerPages .sinap {
    text-align: justify; }
  .footerPages .iconFooterPages {
    font-size: 200%;
    margin-left: 5%;
    color: #ff5000; }
  .footerPages .iconFooterPages:hover {
    color: #ffffff; }
  .footerPages #iconsFoot {
    text-align: right;
    margin-bottom: auto;
    margin-top: auto; }
