.footerPages {
  margin-top: 5%;
  background-color: #000000;
  color: #ffffff;
  padding-bottom: 60px; }
  .footerPages .h4Footer {
    color: #ff5000;
    padding-top: 30px; }
  .footerPages .copyFooter {
    color: #7e7e7e;
    text-transform: uppercase; }
  .footerPages .sinap {
    text-align: justify; }
  .footerPages .iconFooterPages {
    font-size: 200%;
    margin-left: 5%;
    color: #ff5000; }
  .footerPages .iconFooterPages:hover {
    color: #ffffff; }
  .footerPages #iconsFoot {
    text-align: right;
    margin-bottom: auto;
    margin-top: auto; }

.center-align {
  text-align: center;
  margin-bottom: 4em; }

.card-group-home {
  margin-top: 2em;
  margin-bottom: 4em;
  padding-top: 1em; }
  .card-group-home .card {
    text-align: center;
    padding-top: 1em; }
    .card-group-home .card .icono {
      margin: 0 auto; }

.pantallazo {
  margin-bottom: 4em; }

.startBtn {
  height: 3em;
  width: 15em;
  background-color: #3B3D41;
  color: white;
  margin-top: 2em; }

.subtituloColaborar {
  font-weight: 700;
  padding-bottom: 1em;
  padding-top: 1em;
  margin-bottom: 0; }

.textoPantallazo {
  margin-bottom: 1em; }

.beneficiosBtn {
  height: 50px;
  width: 207px;
  margin-bottom: 4em;
  border-radius: 3px;
  border-color: #C2C2C2;
  background-color: #F6F6F6;
  justify-content: center;
  margin-top: 1em; }

.queEs {
  padding-top: 2em;
  padding-bottom: 1em;
  text-align: center; }

.tituloTalleres {
  margin-bottom: 3em; }

.cursosProgramados {
  border-right: 1px solid #7E7E7E; }

.footer-box {
  display: flex;
  margin-bottom: 4em; }

.cajaTituloCursos {
  text-align: center; }

.tituloCursos {
  text-align: center; }
