.center-align {
  text-align: center;
  margin-bottom: 4em; }

.card-group-home {
  margin-top: 2em;
  margin-bottom: 4em;
  padding-top: 1em; }
  .card-group-home .card {
    text-align: center;
    padding-top: 1em; }
    .card-group-home .card .icono {
      margin: 0 auto; }

.pantallazo {
  margin-left: 4em;
  margin-bottom: 4em; }

.textoPantallazo {
  margin-left: -8em; }
