/* == header == **/
* {
  font-family: 'Open Sans', sans-serif; }

header .box-header {
  padding: 30px;
  margin-right: 0; }

header .logo-header img {
  width: 60px;
  height: 60px; }

header .title-header {
  display: inline-block;
  margin-left: 5px;
  font-size: 2em; }

header .box-info {
  display: flex;
  align-items: center;
  justify-content: flex-end; }

header .info-header {
  font-size: 16px; }

header span {
  text-decoration-line: underline; }

header .btn-login {
  width: 140px;
  height: 50px;
  background-color: #3b3d41;
  color: #ffffff;
  margin-left: 25px; }

@media only screen and (max-width: 465px) {
  header .box-header {
    padding-right: 0; }
  header .info-header {
    display: none; }
  header .logo-header {
    text-align: left;
    display: inline-flex;
    align-items: center; }
  header .title-header {
    font-size: 1.4em; } }

/* == Carousel == **/
section .carousel-title {
  position: absolute;
  right: 15%;
  bottom: 180px;
  left: 5%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #ffffff; }
