* {
  font-family: 'Open Sans', sans-serif; }

#dropdownMenuButton {
  background-color: #ff5000;
  color: #ffffff; }

#grad {
  background-image: linear-gradient(to right, #FF5000, #FFCD00);
  height: 150px;
  margin: 0%; }
  #grad .pgrad {
    color: #ffffff;
    font-size: 150%;
    text-align: center;
    padding-top: 50px; }

.quest {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center; }

#accordion .card-header {
  background-color: #ff5000; }

#accordion .active {
  background-color: #000000;
  color: #ffffff; }

#accordion .btn-link {
  color: #ffffff; }

#accordion .btn-link:hover {
  color: #ffffff; }

#accordion .fa, #accordion .fas {
  font-weight: 900;
  float: right;
  color: #ffffff; }

.btn btn-link i .fas fa-angle-down {
  right: 12px;
  left: auto;
  font-size: 16px; }

@media (max-width: 414px) {
  #accordion #collapseButtonAccordion {
    font-size: 100%;
    white-space: normal;
    text-align: left; }
  #cards, .col-5 {
    max-width: 55%;
    padding-bottom: 15%;
    padding-left: 10%; } }
