@charset "UTF-8";
.navPriv a {
  color: #000000; }

* {
  font-family: 'Open Sans', sans-serif; }

header {
  margin-top: 3%; }
  header .fa,
  header .fas {
    font-weight: 800;
    font-size: 100%; }


.navPriv:hover a {
  color: #000000; }

.footerPages {
  margin-top: 5%;
  background-color: #000000;
  color: #ffffff;
  padding-bottom: 60px; }
  .footerPages .h4Footer {
    color: #ff5000;
    padding-top: 30px; }
  .footerPages .copyFooter {
    color: #7e7e7e;
    text-transform: uppercase; }
  .footerPages .sinap {
    text-align: justify; }
  .footerPages .iconFooterPages {
    font-size: 200%;
    margin-left: 5%;
    color: #ff5000; }
  .footerPages .iconFooterPages:hover {
    color: #ffffff; }
  .footerPages #iconsFoot {
    text-align: right;
    margin-bottom: auto;
    margin-top: auto; }

#grad {
  background-image: linear-gradient(to right, #FF5000, #FFCD00);
  height: 150px;
  margin: 0%; }
  #grad .pgrad {
    color: white;
    font-size: 150%;
    text-align: center;
    padding-top: 50px; }

#quest {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%; }

#cards {
  margin-top: -2%; }
  #cards #enseñar-aprender {
    width: 300px; }
  #cards #bodyCardPriv {
    height: 296px; }
  #cards #footerCardPriv {
    height: 150px; }
  #cards .arrow {
    display: none; }
  #cards #titleCard {
    text-align: center; }
  #cards #textCard {
    text-align: justify; }
  #cards #enseñar-aprender:hover {
    background-color: #000000 !important;
    color: #ffffff;
    width: 300px;
    height: 447px; }
    #cards #enseñar-aprender:hover #footerCardPriv {
      display: none; }
    #cards #enseñar-aprender:hover .arrow {
      display: block;
      font-size: 1000%;
      text-align: center; }
  #cards a.arrow {
    color: #ffffff; }

#accordion #collapseButtonAccordion {
  color: #000000; }

#accordion #collapseButtonAccordion:hover {
  color: #000000; }

#accordion #quest {
  text-align: center; }

#accordion .fa, #accordion .fas {
  font-weight: 900;
  float: right; }

.btn btn-link i .fas fa-angle-down {
  right: 12px;
  left: auto;
  font-size: 16px; }
