@charset "UTF-8";
.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.navPriv a {
    color: #000000;
}

.navPriv:hover a {
    color: #000000;
}

* {
    font-family: 'Open Sans', sans-serif;
}

#dropdownMenuButton {
    background-color: #ff5000;
    color: #ffffff;
}

#grad {
    background-image: linear-gradient(to right, #FF5000, #FFCD00);
    height: 150px;
    margin: 0%;
}

#grad .pgrad {
    color: #ffffff;
    font-size: 150%;
    text-align: center;
    padding-top: 50px;
}

.quest {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

#accordion #collapseButtonAccordion {
    color: #000000;
}

header .fa,
header .fas {
    font-weight: 800;
    font-size: 100%;
}

#accordion #quest {
    text-align: center;
}

#accordion .fa,
#accordion .fas {
    font-weight: 900;
    float: right;
}

.btn btn-link i .fas fa-angle-down {
    right: 12px;
    left: auto;
    font-size: 16px;
}

@media (max-width: 414px) {
    #accordion #collapseButtonAccordion {
        font-size: 100%;
        white-space: normal;
        text-align: left;
    }
    #cards,
    .col-5 {
        max-width: 55%;
        padding-bottom: 15%;
        padding-left: 10%;
    }
}

.footerPages {
    margin-top: 5%;
    background-color: #000000;
    color: #ffffff;
    padding-bottom: 60px;
}

.footerPages .h4Footer {
    color: #ff5000;
    padding-top: 30px;
}

.footerPages .copyFooter {
    color: #7e7e7e;
    text-transform: uppercase;
}

.footerPages .sinap {
    text-align: justify;
}

.footerPages .iconFooterPages {
    font-size: 200%;
    margin-left: 5%;
    color: #ff5000;
}

.footerPages .iconFooterPages:hover {
    color: #ffffff;
}

.footerPages #iconsFoot {
    text-align: right;
    margin-bottom: auto;
    margin-top: auto;
}

.center-align {
    text-align: center;
    margin-bottom: 4em;
}

.card-group-home {
    margin-top: 2em;
    margin-bottom: 4em;
    padding-top: 1em;
}

.card-group-home .card {
    text-align: center;
    padding-top: 1em;
}

.card-group-home .card .icono {
    margin: 0 auto;
}

.pantallazo {
    margin-bottom: 4em;
}

.startBtn {
    height: 3em;
    width: 15em;
    background-color: #3B3D41;
    color: white;
    margin-top: 2em;
}

.subtituloColaborar {
    font-weight: 700;
    padding-bottom: 1em;
    padding-top: 1em;
    margin-bottom: 0;
}

.textoPantallazo {
    margin-bottom: 1em;
}

.beneficiosBtn {
    height: 50px;
    width: 207px;
    margin-bottom: 4em;
    border-radius: 3px;
    border-color: #C2C2C2;
    background-color: #F6F6F6;
    justify-content: center;
    margin-top: 1em;
}

.queEs {
    padding-top: 2em;
    padding-bottom: 1em;
    text-align: center;
}

.tituloTalleres {
    margin-bottom: 3em;
}

.cursosProgramados {
    border-right: 1px solid #7E7E7E;
}

.footer-box {
    display: flex;
    margin-bottom: 4em;
}

.cajaTituloCursos {
    text-align: center;
}

.tituloCursos {
    text-align: center;
}

.footerPages {
    margin-top: 5%;
    background-color: #000000;
    color: #ffffff;
    padding-bottom: 60px;
}

.footerPages .h4Footer {
    color: #ff5000;
    padding-top: 30px;
}

.footerPages .copyFooter {
    color: #7e7e7e;
    text-transform: uppercase;
}

.footerPages .sinap {
    text-align: justify;
}

.footerPages .iconFooterPages {
    font-size: 200%;
    margin-left: 5%;
    color: #ff5000;
}

.footerPages .iconFooterPages:hover {
    color: #ffffff;
}

.footerPages #iconsFoot {
    text-align: right;
    margin-bottom: auto;
    margin-top: auto;
}

form .autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #d4d4d4;
}

label {
    margin-top: 20px;
}

div .input-cursos {
    height: 50px;
}

div .box-lugar {
    margin-bottom: 20px;
}

.btn-evento {
    width: 140px;
    height: 50px;
    background-color: #3b3d41;
    color: #ffffff;
    text-align: center;
}

div .box-evento {
    text-align: center;
    margin-top: 50px;
}

div.custon-radio {
    margin-top: 50px;
}

div .tarjetaExito {
    margin-top: 4em;
    margin-bottom: 4em;
    text-align: center;
}

.footerPages {
    margin-top: 5%;
    background-color: #000000;
    color: #ffffff;
    padding-bottom: 60px;
}

.footerPages .h4Footer {
    color: #ff5000;
    padding-top: 30px;
}

.footerPages .copyFooter {
    color: #7e7e7e;
    text-transform: uppercase;
}

.footerPages .sinap {
    text-align: justify;
}

.footerPages .iconFooterPages {
    font-size: 200%;
    margin-left: 5%;
    color: #ff5000;
}

.footerPages .iconFooterPages:hover {
    color: #ffffff;
}

.footerPages #iconsFoot {
    text-align: right;
    margin-bottom: auto;
    margin-top: auto;
}

#cards {
    margin-top: -2%;
}

#cards #ense単ar-aprender {
    width: 300px;
}

#cards #bodyCardPriv {
    height: 296px;
}

#cards #footerCardPriv {
    height: 150px;
}

#cards .arrow {
    display: none;
}

#cards #titleCard {
    text-align: center;
}

#cards #textCard {
    text-align: justify;
}

#cards #ense単ar-aprender:hover {
    background-color: #000000 !important;
    color: #ffffff;
    width: 300px;
    height: 447px;
}

#cards #ense単ar-aprender:hover #footerCardPriv {
    display: none;
}

#cards #ense単ar-aprender:hover .arrow {
    display: block;
    font-size: 1000%;
    text-align: center;
}

#cards a.arrow {
    color: #ffffff;
}