.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%; }

.navPriv a {
  color: #000000; }

.navPriv:hover a {
  color: #000000; }

* {
  font-family: 'Open Sans', sans-serif; }


#dropdownMenuButton {
  background-color: #ff5000;
  color: #ffffff; }

#grad {
  background-image: linear-gradient(to right, #FF5000, #FFCD00);
  height: 150px;
  margin: 0%; }
  #grad .pgrad {
    color: #ffffff;
    font-size: 150%;
    text-align: center;
    padding-top: 50px; }

.quest {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center; }

#accordion .card-header {
  background-color: #ff5000; }

#accordion .active {
  background-color: #000000;
  color: #ffffff; }

#accordion .btn-link {
  color: #ffffff; }

#accordion .btn-link:hover {
  color: #ffffff; }

#accordion .fa, #accordion .fas {
  font-weight: 900;
  float: right;
  color: #ffffff; }

.btn btn-link i .fas fa-angle-down {
  right: 12px;
  left: auto;
  font-size: 16px; }

@media (max-width: 414px) {
  #accordion #collapseButtonAccordion {
    font-size: 100%;
    white-space: normal;
    text-align: left; }
  #cards, .col-5 {
    max-width: 55%;
    padding-bottom: 15%;
    padding-left: 10%; } }

.navPriv a {
  color: #000000; }

.navPriv:hover a {
  color: #000000; }

.footerPages {
  margin-top: 5%;
  background-color: #000000;
  color: #ffffff;
  padding-bottom: 60px; }
  .footerPages .h4Footer {
    color: #ff5000;
    padding-top: 30px; }
  .footerPages .copyFooter {
    color: #7e7e7e;
    text-transform: uppercase; }
  .footerPages .sinap {
    text-align: justify; }
  .footerPages .iconFooterPages {
    font-size: 200%;
    margin-left: 5%;
    color: #ff5000; }
  .footerPages .iconFooterPages:hover {
    color: #ffffff; }
  .footerPages #iconsFoot {
    text-align: right;
    margin-bottom: auto;
    margin-top: auto; }
  .footerPages header {
    margin-top: 3%; }
    .footerPages header .fa,
    .footerPages header .fas {
      font-weight: 800;
      font-size: 100%; }
  .footerPages nav a {
    color: #000000; }
  .footerPages footer {
    margin-top: 5%;
    background-color: #000000;
    color: #ffffff;
    padding-bottom: 60px; }
    .footerPages footer #h4 {
      color: #ff5000;
      padding-top: 30px; }
    .footerPages footer #copy {
      color: #7e7e7e;
      text-transform: uppercase; }
    .footerPages footer #sinap {
      text-align: justify; }
    .footerPages footer i {
      font-size: 200%;
      margin-left: 5%;
      color: #ff5000; }
    .footerPages footer i:hover {
      color: #ffffff; }
    .footerPages footer #icon {
      text-align: right;
      margin-bottom: auto;
      margin-top: auto; }
  .footerPages #grad {
    background-image: linear-gradient(to right, #FF5000, #FFCD00);
    height: 150px;
    margin: 0%; }
    .footerPages #grad .pgrad {
      color: white;
      font-size: 150%;
      text-align: center;
      padding-top: 50px; }
  .footerPages #quest {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%; }
    .footerPages #quest #cards {
      margin-top: -2%; }
      .footerPages #quest #cards #enseñar-aprender {
        width: 300px; }
      .footerPages #quest #cards #bodyCardPriv {
        height: 296px; }
      .footerPages #quest #cards #footerCardPriv {
        height: 150px; }
      .footerPages #quest #cards .arrow {
        display: none; }
      .footerPages #quest #cards #titleCard {
        text-align: center; }
      .footerPages #quest #cards #textCard {
        text-align: justify; }
      .footerPages #quest #cards #enseñar-aprender:hover {
        background-color: #000000 !important;
        color: #ffffff;
        width: 300px;
        height: 447px; }
        .footerPages #quest #cards #enseñar-aprender:hover #footerCardPriv {
          display: none; }
        .footerPages #quest #cards #enseñar-aprender:hover .arrow {
          display: block;
          font-size: 1000%;
          text-align: center; }
        .footerPages #quest #cards #enseñar-aprender:hover .card {
          width: 300px; }
        .footerPages #quest #cards #enseñar-aprender:hover .card-body {
          height: 296px; }
        .footerPages #quest #cards #enseñar-aprender:hover .card-footer {
          height: 150px; }
        .footerPages #quest #cards #enseñar-aprender:hover #arrow {
          display: none; }
        .footerPages #quest #cards #enseñar-aprender:hover h1 {
          text-align: center; }
        .footerPages #quest #cards #enseñar-aprender:hover h6 {
          text-align: justify; }
        .footerPages #quest #cards #enseñar-aprender:hover .card:hover {
          background-color: #000000 !important;
          color: #ffffff;
          width: 300px;
          height: 447px; }
          .footerPages #quest #cards #enseñar-aprender:hover .card:hover .card-footer {
            display: none; }
          .footerPages #quest #cards #enseñar-aprender:hover .card:hover #arrow {
            display: block;
            font-size: 1000%;
            text-align: center; }
        .footerPages #quest #cards #enseñar-aprender:hover a.arrow {
          color: #ffffff; }
      .footerPages #quest #cards #accordion #collapseButtonAccordion {
        color: #000000; }
      .footerPages #quest #cards #accordion #collapseButtonAccordion:hover {
        color: #000000; }
      .footerPages #quest #cards #accordion #quest {
        text-align: center; }
      .footerPages #quest #cards #accordion .fa,
      .footerPages #quest #cards #accordion .fas {
        font-weight: 900;
        float: right; }
      .footerPages #quest #cards .btn btn-link i .fas fa-angle-down {
        right: 12px;
        left: auto;
        font-size: 16px; }
        .footerPages #quest #cards .btn btn-link i .fas fa-angle-down #acordeon .btn-link {
          color: #000000; }
        .footerPages #quest #cards .btn btn-link i .fas fa-angle-down #acordeon .btn-link:hover {
          color: #000000; }
        .footerPages #quest #cards .btn btn-link i .fas fa-angle-down #acordeon #quest {
          text-align: center; }


.center-align {
  text-align: center;
  margin-bottom: 4em; }

.card-group-home {
  margin-top: 2em;
  margin-bottom: 4em;
  padding-top: 1em; }
  .card-group-home .card {
    text-align: center;
    padding-top: 1em; }
    .card-group-home .card .icono {
      margin: 0 auto; }

.pantallazo {
  margin-bottom: 4em; }

.startBtn {
  height: 3em;
  width: 15em;
  background-color: #3B3D41;
  color: white;
  margin-top: 2em; }

.subtituloColaborar {
  font-weight: 700;
  padding-bottom: 1em;
  padding-top: 1em;
  margin-bottom: 0; }

.textoPantallazo {
  margin-bottom: 1em; }

.beneficiosBtn {
  height: 50px;
  width: 207px;
  margin-bottom: 4em;
  border-radius: 3px;
  border-color: #C2C2C2;
  background-color: #F6F6F6;
  justify-content: center;
  margin-top: 1em; }

.queEs {
  padding-top: 2em;
  padding-bottom: 1em;
  text-align: center; }

.tituloTalleres {
  margin-bottom: 3em; }

.cursosProgramados {
  border-right: 1px solid #7E7E7E; }

.footer-box {
  display: flex;
  margin-bottom: 4em; }

.cajaTituloCursos {
  text-align: center; }

.tituloCursos {
  text-align: center; }

form .autocomplete {
  /*the container must be positioned relative:*/
  position: relative; }

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0; }

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #d4d4d4;
  background: gainsboro; }

label {
  margin-top: 20px; }

div .input-cursos {
  height: 50px; }

div .box-lugar {
  margin-bottom: 20px; }

.btn-evento {
  width: 140px;
  height: 50px;
  background-color: #3b3d41;
  color: #ffffff;
  text-align: center; }

div .box-evento {
  text-align: center;
  margin-top: 50px; }

div.custon-radio {
  margin-top: 50px; }

#inputTemas div {
  color: #495057;
  background-color: #fff; }


div .tarjetaExito {
  margin-top: 4em;
  margin-bottom: 4em;
  text-align: center; }

.footerPages {
  margin-top: 5%;
  background-color: #000000;
  color: #ffffff;
  padding-bottom: 60px; }
  .footerPages .h4Footer {
    color: #ff5000;
    padding-top: 30px; }
  .footerPages .copyFooter {
    color: #7e7e7e;
    text-transform: uppercase; }
  .footerPages .sinap {
    text-align: justify; }
  .footerPages .iconFooterPages {
    font-size: 200%;
    margin-left: 5%;
    color: #ff5000; }
  .footerPages .iconFooterPages:hover {
    color: #ffffff; }
  .footerPages #iconsFoot {
    text-align: right;
    margin-bottom: auto;
    margin-top: auto; }

#cards {
  margin-top: -2%; }
  #cards #ensenar-aprender {
    width: 300px; }
  #cards #bodyCardPriv {
    height: 296px; }
  #cards #footerCardPriv {
    height: 150px; }
  #cards .arrow {
    display: none; }
  #cards #titleCard {
    text-align: center; }
  #cards #ensenar-aprender:hover {
  #cards #textCard {
    text-align: justify; }
    background-color: #000000 !important;
    color: #ffffff;
    width: 300px;
    height: 447px; }

    #cards #ensenar-aprender:hover #footerCardPriv {
      display: none; }
    #cards #ensenar-aprender:hover .arrow {
     display: block;
      font-size: 1000%;
      text-align: center; }
  #cards a.arrow {
    color: #ffffff; }


#proyectos {
  margin-top: -2%;
  margin-bottom: 3%;
  margin-left: 38%; }

@media (max-width: 414px) {
  #proyectos {
    margin-left: 3%; } }

* .row {
  width: 100vw; }

header {
  margin-top: 3%; }

header .fa,
header .fas {
  font-weight: 800;
  font-size: 100%; }

footer {
  position: absolute;
  bottom: 0%; }

footer #sinap {
  text-align: justify; }

footer i {
  font-size: 200%;
  margin-left: 5%; }

#grad {
  background-image: linear-gradient(to right, #ff5000, #FFCD00);
  width: 100vw;
  height: 150px; }

#grad #pgrad {
  color: #ffffff;
  margin-top: 3%;
  font-size: 150%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto; }

#cursos-all {
  color: #ffffff;
  background-color: #ff5000;
  border-radius: 4px;
  border: 1px solid #ff5000;
  border-bottom-width: thin; }

#cursos-all:hover {
  background-color: #cf400d;
  border: 1px solid #cf400d; }

.small-btn {
  border: 1px solid #7e7e7e;
  color: #ff5000;
  border-radius: 4px;
  background-color: #ffffff;
  border-bottom-width: thin; }

.small-btn:hover {
  border: 1px solid #ff5000; }

.dropdown-toggle {
  color: #ffffff;
  background-color: #ff5000;
  border-radius: 4px;
  border: 1px solid #ff5000; }

.dropdown-toggle:hover {
  background-color: #b43306;
  border: 1px solid #b43306; }

.btn-outline-success {
  color: #ff5000;
  background-color: #ffffff;
  border: 1px solid #ff5000; }

.btn-outline-succes:hover:focus {
  color: #ffffff !important;
  background-color: #b43306 !important;
  border: 1px solid #b43306 !important; }

