.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%; }

header {
  margin-top: 3%; }
  header .fa, header .fas {
    font-weight: 800;
    font-size: 100%; }

nav a {
  color: #000000; }

footer {
  margin-top: 5%;
  background-color: #000000;
  color: #ffffff;
  padding-bottom: 60px; }
  footer #h4 {
    color: #ff5000;
    padding-top: 30px; }
  footer #copy {
    color: #7e7e7e;
    text-transform: uppercase; }
  footer #sinap {
    text-align: justify; }
  footer i {
    font-size: 200%;
    margin-left: 5%;
    color: #ff5000; }
  footer i:hover {
    color: #ffffff; }
  footer #icon {
    text-align: right;
    margin-bottom: auto;
    margin-top: auto; }

#grad {
  background-image: linear-gradient(to right, #FF5000, #FFCD00);
  height: 150px;
  margin: 0%; }
  #grad #pgrad {
    color: white;
    font-size: 150%;
    text-align: center;
    padding-top: 50px; }

h3 {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%; }

#cards {
  margin-top: -2%; }
  #cards .card {
    width: 300px; }
  #cards .card-body {
    height: 296px; }
  #cards .card-footer {
    height: 150px; }
  #cards #arrow {
    display: none; }
  #cards h1 {
    text-align: center; }
  #cards h6 {
    text-align: justify; }
  #cards .card:hover {
    background-color: #000000 !important;
    color: #ffffff;
    width: 300px;
    height: 447px; }
    #cards .card:hover .card-footer {
      display: none; }
    #cards .card:hover #arrow {
      display: block;
      font-size: 1000%;
      text-align: center; }

#acordeon .btn-link {
  color: #000000; }

#acordeon .btn-link:hover {
  color: #000000; }

#acordeon #quest {
  text-align: center; }

.center-align {
  text-align: center;
  margin-bottom: 4em; }

.card-group-home {
  margin-top: 2em;
  margin-bottom: 4em;
  padding-top: 1em; }
  .card-group-home .card {
    text-align: center;
    padding-top: 1em; }
    .card-group-home .card .icono {
      margin: 0 auto; }

.pantallazo {
  margin-bottom: 4em; }

.startBtn {
  height: 3em;
  width: 15em;
  background-color: #3B3D41;
  color: white;
  margin-top: 2em; }

.subtituloColaborar {
  font-weight: 600;
  padding-bottom: 1em; }

.beneficiosBtn {
  height: 50px;
  width: 207px;
  margin-bottom: 4em;
  border-radius: 3px;
  border-color: #C2C2C2;
  background-color: #F6F6F6;
  justify-content: center; }

.queEs {
  padding-top: 2em;
  padding-bottom: 1em;
  text-align: center; }

.tituloTalleres {
  margin-bottom: 3em; }

.cursosProgramados {
  border-right: 1px solid #7E7E7E; }

.footer-box {
  display: flex;
  justify-content: space-around;
  margin-bottom: 4em; }

.cajaTituloCursos {
  text-align: center; }

div .tarjetaExito {
  margin-top: 4em;
  margin-bottom: 4em;
  text-align: center; }
