.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%; }

.navPriv a {
  color: #000000; }

.navPriv:hover a {
  color: #000000; }

/* == header == **/
* {
  font-family: 'Open Sans', sans-serif; }

header .box-header {
  padding: 30px;
  margin-right: 0; }

header .logo-header img {
  width: 60px;
  height: 60px; }

header .title-header {
  display: inline-block;
  margin-left: 5px;
  font-size: 2em; }

header .box-info {
  display: flex;
  align-items: center;
  justify-content: flex-end; }

header .info-header {
  font-size: 16px; }

header span {
  text-decoration-line: underline; }

header .btn-login {
  width: 140px;
  height: 50px;
  background-color: #3b3d41;
  color: #ffffff;
  margin-left: 25px; }

@media only screen and (max-width: 465px) {
  header .box-header {
    padding-right: 0; }
  header .info-header {
    display: none; }
  header .logo-header {
    text-align: left;
    display: inline-flex;
    align-items: center; }
  header .title-header {
    font-size: 1.4em; } }

/* == Carousel == **/
section .carousel-title {
  position: absolute;
  right: 15%;
  bottom: 180px;
  left: 5%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #ffffff; }

form .autocomplete {
  /*the container must be positioned relative:*/
  position: relative; }

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0; }

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #d4d4d4; }

label {
  margin-top: 20px; }

div .input-cursos {
  height: 50px; }

div .box-lugar {
  margin-bottom: 20px; }

.btn-evento {
  width: 140px;
  height: 50px;
  background-color: #3b3d41;
  color: #ffffff;
  text-align: center; }

div .box-evento {
  text-align: center;
  margin-top: 50px; }

div.custon-radio {
  margin-top: 50px; }

.headlong {
  text-align: center; }
  .headlong .pgrad {
    font-size: 30px;
    margin-top: 40px;
    font-weight: 600;
    display: inline-block; }

.footerPages {
  width: 100%; }

div .tarjetaExito {
  margin-top: 4em;
  margin-bottom: 4em;
  text-align: center; }

.footerPages {
  margin-top: 5%;
  background-color: #000000;
  color: #ffffff;
  padding-bottom: 60px;
  width: 100%;
  display: block; }
  .footerPages .h4Footer {
    color: #ff5000;
    padding-top: 30px; }
  .footerPages .copyFooter {
    color: #7e7e7e;
    text-transform: uppercase; }
  .footerPages .sinap {
    text-align: justify; }
  .footerPages .iconFooterPages {
    font-size: 200%;
    margin-left: 5%;
    color: #ff5000; }
  .footerPages .iconFooterPages:hover {
    color: #ffffff; }
  .footerPages #iconsFoot {
    text-align: right;
    margin-bottom: auto;
    margin-top: auto; }

#cards {
  margin-top: -20px; }
  #cards #ensenar-aprender {
    margin-bottom: 50px; }
  #cards #bodyCardPriv {
    height: 200px; }
  #cards .arrow {
    display: none; }
  #cards #titleCard {
    text-align: center; }
  #cards #textCard {
    text-align: justify; }
  #cards #ensenar-aprender:hover .arrow {
    display: block;
    text-align: center; }
  #cards a.arrow {
    color: #ffffff; }

#grad {
  background-image: linear-gradient(to right, #ff5000, #FFCD00);
  height: 150px; }

#grad #pgrad {
  color: #ffffff;
  margin-top: 3%;
  font-size: 150%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto; }

#cursos-all {
  color: #ffffff;
  background-color: #ff5000;
  border-radius: 4px;
  border: 1px solid #ff5000;
  border-bottom-width: thin; }

#cursos-all:hover {
  background-color: #cf400d;
  border: 1px solid #cf400d; }

.small-btn {
  border: 1px solid #7e7e7e;
  color: #ff5000;
  border-radius: 4px;
  background-color: #ffffff;
  border-bottom-width: thin; }

.small-btn:hover {
  border: 1px solid #ff5000; }

.dropdown-toggle {
  color: #ffffff;
  background-color: #ff5000;
  border-radius: 4px;
  border: 1px solid #ff5000; }

.dropdown-toggle:hover {
  background-color: #b43306;
  border: 1px solid #b43306; }

.btn-outline-success {
  color: #ff5000;
  background-color: #ffffff;
  border: 1px solid #ff5000; }

.btn-outline-succes:hover:focus {
  color: #ffffff !important;
  background-color: #b43306 !important;
  border: 1px solid #b43306 !important; }
