* {
    .row {
        width: 100vw;
    }
}

header {
    margin-top: 3%;
    .fa,
    .fas {
        font-weight: 800;
        font-size: 100%;
    }
}

footer {
    position: absolute;
    bottom: 0%;
    #sinap {
        text-align: justify;
    }
    i {
        font-size: 200%;
        margin-left: 5%;
    }
}

.header-cursos {
    background-image: linear-gradient(to right, #FF5000, #FFCD00);
    width: 100vw;
    height: 150px;
}

.img-aprender {
    color: white;
    margin-top: 3%;
    font-size: 150%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.body-cursos {
    position: absolute;
    left: 3.12%;
    right: 3.12%;
    top: 16.26%;
    bottom: 13.66%;
    background: #FFFFFF;
    border: 1px solid #4A4A4A;
}

.btn-cursos {
    position: absolute;
    left: 8.01%;
    right: 49.9%;
    top: 19.22%;
    bottom: 78.71%;
}

#cursos-all {
    position: absolute;
    left: 8.01%;
    right: 80.27%;
    top: 19.22%;
    bottom: 78.71%;
}

#UR {
    position: absolute;
    left: 20.7%;
    right: 75.29%;
    top: 19.22%;
    bottom: 78.71%;
}

#UX {
    position: absolute;
    left: 25.68%;
    right: 70.31%;
    top: 19.22%;
    bottom: 78.71%;
}

#UI {
    position: absolute;
    left: 30.66%;
    right: 65.33%;
    top: 19.22%;
    bottom: 78.71%;
}

#front {
    position: absolute;
    left: 35.64%;
    right: 58.98%;
    top: 19.22%;
    bottom: 78.71%;
}

#desarrollo {
    position: absolute;
    left: 41.99%;
    right: 49.9%;
    top: 19.22%;
    bottom: 78.71%;
}

.dropdown {
    position: absolute;
    left: 72.66%;
    right: 7.91%;
    top: 19.22%;
    bottom: 78.71%;
}

#dscrp-cursos {
    position: absolute;
    left: 8.08%;
    right: 7.91%;
    top: 24.31%;
    bottom: 66.06%;
}