@import 'var';

#cards {
  margin-top: -20px;
    #ensenar-aprender{
     margin-bottom: 50px;  
    }
    #bodyCardPriv{
      height: 200px;
    }
    #footerCardPriv{
      // height: 150px;
    }
    .arrow{
      display:none;
    }
    #titleCard{
      text-align: center;      
    }
    #textCard{
      text-align: justify;
    }
    #ensenar-aprender:hover{
      // background-color: $negro !important;
      // color: $blanco;
      #footerCardPriv{
        // display: none;
      }
      .arrow{
        display: block;
        text-align: center;
      }
    }
    a.arrow{
      color: $blanco;
    }
}
