@import 'var';
form {
    .autocomplete {
        /*the container must be positioned relative:*/
        position: relative;
    }
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #d4d4d4;
}

label {
    margin-top: 20px;
}

div {
    .input-cursos {
        height: 50px;
    }
}

div {
    .box-lugar {
        margin-bottom: 20px;
    }
}

.btn-evento {
    width: 140px;
    height: 50px;
    background-color: $grisOscuro;
    color: $blanco;
    text-align: center;
}

div {
    .box-evento {
        text-align: center;
        margin-top: 50px;
    }
}

div.custon-radio {
    margin-top: 50px;
}

.headlong{
    text-align:center;
    .pgrad{
        font-size: 30px;
        margin-top:40px;
        font-weight:600;  
        display:inline-block; 
    } 
}

.footerPages{
     width: 100%;   
}