@import 'var';

/* == header == **/

* {
    font-family: 'Open Sans', sans-serif;
}

header {
    .box-header {
        padding: 30px;
        margin-right: 0;
    }
    .logo-header img {
        width: 60px;
        height: 60px;
    }
    .title-header {
        display: inline-block;
        margin-left: 5px;
        font-size: 2em;
    }
    .box-info {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .info-header {
        font-size: 16px;
    }
    span {
        text-decoration-line: underline;
    }
    .btn-login {
        width: 140px;
        height: 50px;
        background-color: $grisOscuro;
        color: $blanco;
        margin-left: 25px;
    }
}

@media only screen and (max-width: 465px) {
    header {
        .box-header {
            padding-right: 0;
        }
        .info-header {
            display: none;
        }
        .logo-header {
            text-align: left;
            display: inline-flex;
            align-items: center;
        }
        .title-header {
            font-size: 1.4em;
        }
    }
}


/* == Carousel == **/

section {
    .carousel-title {
        position: absolute;
        right: 15%;
        bottom: 180px;
        left: 10%;
        z-index: 10;
        padding-top: 20px;
        padding-bottom: 20px;
        color: $blanco;
        width: 539px;
    }
    .caption-carrusel {
        font-size: 36px;
        line-height: 49px;
    }
}

.center-align {
    text-align: center;
    margin-bottom: 4em;
}

.card-group-home {
    margin-top: 2em;
    margin-bottom: 4em;
    padding-top: 1em;
    .card {
        text-align: center;
        padding-top: 1em;
        .icono {
            margin: 0 auto;
        }
    }
}

.pantallazo {
    margin-bottom: 4em;
}

.startBtn {
    height: 50px;
    width: 240px;
    background-color: $grisOscuro;
    color: $blanco;
    margin-top: 2em;
}

.subtituloColaborar {
    font-weight: 700;
    padding-bottom: 1em;
    padding-top: 1em;
    margin-bottom: 0;
}

.textoPantallazo {
    margin-bottom: 1em;
}

.beneficiosBtn {
    height: 50px;
    width: 207px;
    margin-bottom: 4em;
    border-radius: 3px;
    border-color: #C2C2C2;
    background-color: #F6F6F6;
    justify-content: center;
    margin-top: 1em;
}

.queEs {
    padding-top: 2em;
    text-align: center;
    font-weight: 700;
    line-height: 44px;
    font-size: 32px;
}

.tituloTalleres {
    margin-bottom: 3em;
}

.cursosProgramados {
    border-right: 1px solid #7E7E7E;
}

.footer-box {
    display: flex;
    margin-bottom: 4em;
}

.cajaTituloCursos {
    text-align: center;
}

.tituloCursos {
    text-align: center;
}