@import 'var';


.navPriv{
  a{
    color: $negro;
  }
}
.navPriv:hover{
  a{
    color: $negro;
  }
}

.footerPages{
  margin-top: 5%;
  background-color: $negro;
  color:$blanco;
  padding-bottom: 60px;
  .h4Footer{
    color: #ff5000;
    padding-top: 30px;
  }
  .copyFooter{
    color: #7e7e7e;
    text-transform: uppercase;
  }
  .sinap{
    text-align: justify;
  }
  .iconFooterPages{
    font-size: 200%;
    margin-left: 5%;
    color: $naranjaOscuro;
  }
  .iconFooterPages:hover{
    color: $blanco;
  }
  #iconsFoot{
    text-align: right;
    margin-bottom: auto;
    margin-top: auto;
  }
}

#grad {
    background-image: linear-gradient(to right, #FF5000, #FFCD00);
    height: 150px;
    margin: 0%;
    .pgrad {
        color: white;
        font-size: 150%;
        text-align: center;
        padding-top: 50px;
    }
}
#quest{
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}

#cards {
    margin-top: -2%;
    #enseñar-aprender{
      width: 300px;
    }
    #bodyCardPriv{
      height: 296px;
    }
    #footerCardPriv{
      height: 150px;
    }
    .arrow{
      display:none;
    }
    #titleCard{
      text-align: center;      
    }
    #textCard{
      text-align: justify;
    }
    #enseñar-aprender:hover{
      background-color: $negro !important;
      color: $blanco;
      width: 300px;
      height: 447px;
      #footerCardPriv{
        display: none;
      }
      .arrow{
        display: block;
        font-size: 1000%;
        text-align: center;
      }
    }
    a.arrow{
      color: $blanco;
    }
}
#accordion{
  #collapseButtonAccordion{
    color: $negro;
  }
  #collapseButtonAccordion:hover{
    color: $negro;
  }
  #quest{
    text-align: center;
  }
}